body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  height: 100vh; /* altura total da janela */
  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  flex-direction: column;  /* empilha elementos verticalmente */
}


h1 {
  color: #333;
}

.calculator {
  display: flex;
  flex-direction: row;  /* alinhamento horizontal */
  justify-content: center; /* centra todo o conteúdo horizontalmente */
  align-items: center; /* alinha verticalmente ao centro */
  gap: 10px;  /* espaço entre os elementos */
  margin-top: 50px;
}

input[type="text"], select {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  width: 120px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #45a049;
}